@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.menu {
  transform: translateY(-100%);
  transition: transform 0.5s;
}

.show-menu {
  transform: translateY(0%);
  transition: transform 0.5s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  background: white;
  transform: rotate(0);
  transition: all 0.3s;
  top: 0;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.trans {
  transform: translateY(-450px);
  /* transition: transform 0.4s: */
}
